  .drawer-segment{
    width: inherit;
    min-height: 400px;
  }
  .header-dropdown-content{
    margin-top: 0 !important;
    margin-left: 0 !important;

  }
  .header-slider{
    background: transparent !important;
    height: auto !important;
    justify-content:left;
}
.ui.left.visible.sidebar, .ui.right.visible.sidebar{
  box-shadow: none;
}
.ui.vertical.menu{
  box-shadow: none;
}

  .slider-content{
    text-align: start !important;
  }

.dropdown-content{
    background: transparent !important;
}
  
